$fz14:14px;
$fz12:12px;
$op75:0.75;
$op5:0.5;
$op25:0.25;
$op05: 0.05;
$grad:linear-gradient(#bc9cff, #8ba4f9);
$PurCol:#bc9cff;
$GreColor:#6fcf97;
$MainColor:#1f2041;
$fontFam: "Montserrat", sans-serif;