$fz14:1em;
$fz12:0.875em;
$op75:0.75;
$op5:0.5;
$op25:0.25;
$op05: 0.05;
$grad:linear-gradient(#bc9cff, #8ba4f9);
$PurCol:#bc9cff;
$GreColor:#6fcf97;
$MainColor:#1f2041;
html{
	font-size: 14px;
}
body {
	background-color: #ffff;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}
/* шапка */
.container{
		max-width: 1900px;
		display: grid;
		grid-template-areas:
		  "logo navigation account"
		  "logo navigation account"
		  "logo navigation account";
		grid-template-columns: 33.33% 33.33% 33.33%;
		padding: 0 10em;
}
 .logo {
	grid-area: logo;
	padding-top: 0.214em;
	align-self: center;
 }
 .navigation {
	grid-area: navigation;
	.navigation__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		grid-area: header__list;
		font-size: $fz14;
		padding-inline-start: 0;
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
	 }
	 .navigation__list a:nth-child(2) {
		margin-right: 1.43em;
	 }
	 .navigation__link__more {
		column-gap: 0;
	 }
	 .navigation__link {
		display: block;
		margin: 1.86em 0 1.86em 0;
		text-decoration: none;
		margin-right: 1.64em;
		color: $MainColor;
		opacity: $op5;
		font-size: $fz14;
	 }
	 
	 .navigation__arrow {
		margin-left: 2px;
	 }

 }
 .account {
	grid-area: account;
	font-size: $fz12;
	align-self: center;
	justify-self: end;
    .account__enter {
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-size: $fz12;
		text-decoration: none;
		padding: 8px 20px;
		color: $PurCol;
		background: #ffff;
		border-radius: 22px;
		margin-right: 17px;
		font-weight: bold;
	 }
	 .account__enter::after {
		content: " ";
		display: block;
		background-image: $grad;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: -1;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		border-radius: 22px;
	 }
	 .account__registration {
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-size: $fz12;
		text-decoration: none;
		padding: 8px 19px;
		color: #ffff;
		background: $grad;
		border-radius: 22px;
		font-weight: bold;
	 }
	 
	 .account__registration::after {
		content: " ";
		display: block;
		background-image: $grad;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: -1;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		border-radius: 22px;
	 }  
 }
/* основная часть */
  main {
		background-image: url(/landing/source/img/backImage.png);
		min-height: 763px;
		min-width: none;
		background-size: cover;
		background-repeat: no-repeat;
		/* background-position: top; */
		padding-top: 4.2em;
 }
 .search {
	border-radius: 4px;
	display: grid;
	margin-left: 140px;
	width: 320px;
	height: 304px;
	padding: 39px 29px 29px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 25%), 0px 0px 0px rgb(0 0 0 / 25%);
	grid-template-columns: 25% 15% 25% 15.5%;
	grid-template-areas:
	  "search__title search__title search__title search__title"
	  "search__arrival search__arrival search__departure search__departure"
	  "search__guests search__guests search__guests search__guests"
	  "search__find search__find search__find search__find";
	grid-template-rows: 27.4% 27.6% 24% 21.5%;
	column-gap: 6.5%;
	 .search__title {
		grid-area: search__title;
		margin: 0;
		padding-top: 1%;
		text-align: left;
		color: $MainColor;
		font-size: 1.714rem;
		font-weight: 900;
	 }
	 .search__arrival {
		grid-area: search__arrival;
		height: 65px;
		width: 150px;
	 }
	 .search__textArrival,
	 .search__textDeparture {
	margin: 0 0 0.4em 0;
	color: $MainColor;
	font-weight: 700;
	font-size: $fz12;
	padding-top: 0.5%;
 }
 input[type="date"]::-webkit-calendar-picker-indicator {
	background: url(/landing/source/img/arrow.svg) no-repeat;
	background-size: initial;
	transform: translate(-45%, 41%);
	top: 45%;
	left: 41%;
	width: 14px;
	height: 20px;
 }
 
 input[type = "date"] {
	width: 150px;
	height: 44px;
	border-radius: 4px;
	border-width: 1px;
	// border-color: #1f2041;
	font-size: $fz14;
	// color: #1f2041;
	font-family: inherit;
	text-align: center;
	line-height: 18pt;
	margin: 0;
	padding: 0;
 }
 
 input[type="text"] {
	margin: 0;
 }
 .search__departure {
	grid-area: search__departure;
 }
 
 .search__guests {
	grid-area: search__guests;
	border-color: $MainColor;
 }
 
 .search__textGuests {
	 padding-top: 0.5%;
	margin: 0 0 5px 0;
	font-size: $fz12;
	font-weight: bold;
	text-align: top;
 }
 select {
	text-indent: 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 4px;
	width: 320px;
	height: 44px;
	background: url(/landing/source/img/arrow.svg) no-repeat 95% 50%;
	border: 1px solid $MainColor;
	opacity: $op5;
 }
 
 .search__find {
	grid-area: search__find;
	height: 44px;
	padding: 8px 23.219px;
	position: relative;
	text-decoration: none;
	width: 320px;
	font-weight: bold;
	border-radius: 22px;
	background: $grad;
	border: none;
	color: #fff;
	align-self: end;
	font-size: $fz12;
	cursor: pointer;
 }
 
 .search__arrow {
	display: inline-block;
	vertical-align: middle;
	fill: #fff;
	margin: 0;
	transform: translate(-51%, -51%);
	position: absolute;
	top: 50%;
	left: 93%;
 }

}
.motto {
	position: absolute;
	top: 836px;
	left: 1009px;
	right: 140px;
	bottom: 18px;
	.motto__text {
		font-size: $fz14;
		margin: 0;
		text-align: right;
		color: $MainColor;
		opacity: $op75;
		width: 297px;
	 
	 }	 
 }
/* подвал и копирайт */
.fNavigation {
	display: grid;
	grid-template-areas:
	  "fNavigation__description fNavigation__nav fNavigation__aboutus fNavigation__support fNavigation__subscription";
	grid-template-columns: 260px 1fr 1fr 1fr 260px;
	padding: 100px 140px 0 140px;
}
.fNavigation__logo {
	margin-bottom: 12px;
}
.fNavigation__text {
   line-height: 18pt;
  	font-size: $fz14;
   margin: 0;
	color: $MainColor;
	opacity: $op75;
}
.footul{
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
.footul li {
	margin-top: 21px;
	font-size: $fz14;
	text-decoration: none;
}
.footul li a {
	text-decoration: none;
	color: $MainColor;
	opacity: $op5;
}
.fNavigation__listAbus {
	padding-left: 28px;
}
.fNavigation__listSup {
	padding-left: 13px;
}
.fNavigation__descriptionSub {
	line-height: 24px;
	margin: 19px 0 0 0;
	font-size: $fz14;
}
.fNavigation__textCaption,
.fNavigation__textSub,
.fNavigation__textSup,
.fNavigation_textAbus {
	font-weight: bold;
	color: $MainColor;
	font-size: $fz12;
}
.fNavigation__textCaption {
	margin: 3px 0 15px 40px;
}
.fNavigation_textAbus {
	margin: 3px 0 15px 27px;
}
.fNavigation__textSup {
	margin: 3px 0 15px 14px;
}
.fNavigation__textSub {
	margin: 3px 0 15px 0px;
}
.fNavigation__mailText {
	width: calc(100% - 54px);
	height: 42px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid $MainColor;
	border-right: 0;
	padding: 0;
	opacity: $op25;
	padding-left: 15px;
	font-size: $fz14;
	font-family: inherit;
}
.fNavigation__mail {
	display: flex;
	margin-top: 23px;
}
.fNavigation__btnMail {
	padding: 0;
	width: 44px;
	height: 44px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	cursor: pointer;
	vertical-align: top;
	align-items: flex-start;
	position: relative;
}
.copBar {
	// max-width: 1900px;
	display: grid;
	grid-template-areas: "copBar__copyright copBar__networks";
	grid-template-columns: 1fr 1fr;
	height: 70px;
	margin-top: 101px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);
	padding: 0 140px 0 140px;
}
.copBar__copyright {
	grid-area: copBar__copyright;
	align-self: center;
}
.copBar__copyright p {
	margin: 0;
	font-size: $fz14;
	color: $MainColor;
	opacity: $op75;
}
.copBar__networks {
	grid-area: copBar__networks;
	margin: 0;
	justify-self: end;
	align-self: center;
}
.btn_foot{
	width: 26px;
	height: 26px;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-right: 14px;
}
.copBar__twitter {
	background: url(/landing/source/img/twitter.png) no-repeat 50% 50%;
}
.copBar__facebook {
	background: url(/landing/source/img/facebook.png) no-repeat 50% 50%;
}
.copBar__instagram {
	background: url(/landing/source/img/instagram.png) no-repeat 50% 50%;
	margin-right:0;
}