@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  font-size: 14px;
}

body {
  background-color: #ffff;
  font-family: "Montserrat", sans-serif;
}

/* шапка */
header {
  min-width: none;
}

.container {
  max-width: 1900px;
  height: 5em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo navigation account hamburger-menu" "logo navigation account hamburger-menu" "logo navigation account hamburger-menu" "logo navigation account hamburger-menu";
  -ms-grid-columns: 10% 63% 27%;
  grid-template-columns: 10% 63% 27%;
  padding: 0 9.723%;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: logo;
  padding-top: 0.214em;
  -ms-grid-row-align: center;
      align-self: center;
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: navigation;
  height: inherit;
}
.navigation .navigation__list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-area: header__list;
  font-size: 14px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.navigation .navigation__link {
  display: block;
  text-decoration: none;
  color: #1f2041;
  opacity: 0.5;
  font-size: 14px;
}
.navigation .arrow {
  margin-left: 2px;
  margin-top: 0.25em;
}
.navigation .navigation__arrow {
  margin-left: 2px;
  margin-top: 0.25em;
}
.navigation #ab {
  margin-right: 1.5em;
}
.navigation #ser {
  margin-right: 1.9em;
}
.navigation #vac {
  margin-right: 1.5em;
}
.navigation #nw {
  margin-right: 1.5em;
}
.navigation #ag {
  margin-right: 1.15em;
}

.account {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: account;
  font-size: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  width: 85px;
}
.account .account__registration {
  position: relative;
  width: 193px;
  height: 33px;
  margin: 0;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(#bc9cff, #8ba4f9);
  border-radius: 22px;
  font-weight: 700;
}
.account .account__registration::after {
  content: " ";
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background-image: linear-gradient(#bc9cff, #8ba4f9);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 22px;
}

.account__enter {
  width: 85px;
  height: 33px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  background: #ffff;
  border-radius: 22px;
  font-weight: 700;
}

.account__enter::after {
  content: " ";
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background-image: linear-gradient(#bc9cff, #8ba4f9);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 22px;
}

.hamburger-menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: hamburger-menu;
  display: none;
}

/* основная часть */
.central {
  background-image: url(/landing/source/img/backImage.png);
  height: 830px;
  max-width: 1900px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4.862%;
}

.search {
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  margin: 0 9.723% 0 9.723%;
  width: 374px;
  height: 380px;
  padding: 39px 29px 29px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.25);
  -ms-grid-columns: 25% 6.5% 15% 6.5% 25% 6.5% 15.5%;
  grid-template-columns: 25% 15% 25% 15.5%;
      grid-template-areas: "search__title search__title search__title search__title" "search__arrival search__arrival search__departure search__departure" "search__guests search__guests search__guests search__guests" "search__find search__find search__find search__find";
  -ms-grid-rows: 27% 27.9% 24% 21%;
  grid-template-rows: 27% 27.9% 24% 21%;
  -webkit-column-gap: 6.5%;
     -moz-column-gap: 6.5%;
          column-gap: 6.5%;
}
.search .search__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: search__title;
  margin: 0;
  text-align: left;
  color: #1f2041;
  font-size: 1.714em;
  font-weight: 900;
  line-height: 29.26px;
}
.search .search__arrival {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: search__arrival;
  height: 82%;
  width: 150px;
}
.search .search__textArrival,
.search .search__textDeparture {
  margin: 0;
  margin-bottom: 0.2em;
  color: #1f2041;
  font-weight: 700;
  font-size: 12px;
  font-family: inherit;
  height: 25%;
}
.search input[type=date]::-webkit-calendar-picker-indicator {
  background: url(/landing/source/img/arrow.svg) no-repeat;
  background-size: initial;
  -webkit-transform: translate(-10%, 38%);
          transform: translate(-10%, 38%);
  flex-basis: content;
  margin: 0;
  padding: 3%;
}
.search input[type=date]::-webkit-datetime-edit {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.75;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.search input[type=date] {
  font-family: inherit;
  width: 150px;
  height: 62%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  text-align: center;
  line-height: 18pt;
  font-weight: 400;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin: 0;
  padding: 0;
}
.search .search__departure {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: search__departure;
  height: 82%;
  width: 150px;
}
.search .search__guests {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: search__guests;
  border-color: #1f2041;
}
.search .search__textGuests {
  margin: 0 0 5px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: top;
}
.search select {
  text-indent: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  background: url(/landing/source/img/arrow.svg) no-repeat 95% 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  opacity: 0.5;
}
.search .search__find {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: search__find;
  height: 44px;
  padding: 8px 23.219px;
  position: relative;
  text-decoration: none;
  width: 320px;
  font-weight: 700;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(#bc9cff, #8ba4f9);
  border: none;
  color: #fff;
  -ms-grid-row-align: end;
      align-self: end;
  font-size: 12px;
  cursor: pointer;
  font-family: inherit;
}
.search .search__arrow {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  margin: 0;
  -webkit-transform: translate(-51%, -51%);
          transform: translate(-51%, -51%);
  position: absolute;
  top: 50%;
  left: 93%;
}

.motto {
  position: absolute;
}
.motto .motto__text {
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  text-align: right;
  color: #1f2041;
  opacity: 0.75;
  width: 297px;
}

/* подвал и копирайт */
/* подвал и копирайт */
.fNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 39px;
  padding: 6.945% 9.723% 0 9.723%;
}

.fNavigation__description {
  width: 22.415%;
  height: 132px;
}

.fNavigation__text {
  line-height: 18pt;
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-top: 6.5%;
  color: #1f2041;
  opacity: 0.75;
}

.fNavigation__nav {
  height: 168px;
  width: 12.328%;
}

.footul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.footul li a {
  color: #1f2041;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.footnav {
  margin-left: 0;
}
.footnav li {
  margin-bottom: 16.5%;
}

.fNavigation__aboutus {
  width: 11%;
}

.fNavigation__listAbus {
  padding-left: 15.5%;
}
.fNavigation__listAbus li {
  margin-bottom: 22.5%;
}

.fNavigation__support {
  width: 17.7%;
}

.fNavigation__listSup {
  padding-left: 25.5%;
}
.fNavigation__listSup li {
  margin-bottom: 16%;
}

.fNavigation__subscription {
  width: 23%;
}

.fNavigation__descriptionSub {
  line-height: 178%;
  margin: 7.3% 0 0 3.5%;
  font-size: 14px;
}

.fNavigation__textCaption,
.fNavigation__textSub,
.fNavigation__textSup,
.fNavigation__textAbus {
  font-weight: bold;
  color: #1f2041;
  font-size: 12px;
}

.fNavigation__textCaption {
  margin-top: 4.79%;
  margin-bottom: 17%;
}

.fNavigation__textAbus {
  margin: 4.79% 0 18.5% 15%;
}

.fNavigation__textSup {
  margin: 3.5% 0 11% 24.9%;
}

.fNavigation__textSub {
  margin: 2.5% 0 0 3.4%;
}

input[type=text] {
  margin: 0;
}

.fNavigation__mailText {
  width: calc(100% - 54px);
  height: 42px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #1f2041;
  border-right: 0;
  padding: 0;
  opacity: 0.25;
  padding-left: 15px;
  font-size: 14px;
  font-family: inherit;
}

.fNavigation__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 23px;
  margin-left: 3.4%;
}

.fNavigation__btnMail {
  padding-left: 2%;
  width: 44px;
  height: 42px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.copBar {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "copBar__copyright copBar__networks";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  margin-top: 5.49%;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);
  padding: 0 9.723%;
}

.copBar__copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: copBar__copyright;
  -ms-grid-row-align: center;
      align-self: center;
}

.copBar__copyright p {
  margin: 0;
  font-size: 14px;
  color: #1f2041;
  opacity: 0.75;
}

.copBar__networks {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: copBar__networks;
  margin: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
}

.btn_foot {
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 14px;
}

.copBar__twitter {
  background: url(/landing/source/img/twitter.png) no-repeat 50% 50%;
}

.copBar__facebook {
  background: url(/landing/source/img/facebook.png) no-repeat 50% 50%;
}

.copBar__instagram {
  background: url(/landing/source/img/instagram.png) no-repeat 50% 50%;
  margin-right: 0;
}

@media (max-width: 1389px) {
  .container {
    -ms-grid-columns: 12% 53% 35%;
    grid-template-columns: 12% 53% 35%;
  }
}
@media (max-width: 1024px) {
  .container {
    -ms-grid-columns: 60% 0 40%;
    grid-template-columns: 60% 0 40%;
  }

  .navigation {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    -ms-grid-columns: 20% 0 80%;
    grid-template-columns: 20% 0 80%;
  }
}
@media (max-width: 425px) {
  .container {
    -ms-grid-columns: 90% 0 0 10%;
    grid-template-columns: 90% 0 0 10%;
        grid-template-areas: "hamburger-menu logo" "hamburger-menu logo" "hamburger-menu logo";
  }

  .logo {
    -ms-grid-column-align: right;
        justify-self: right;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 15.5px;
  }

  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* скрываем чекбокс */
  #menu__toggle {
    display: none;
  }

  /* стилизуем кнопку */
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* центрируем содержимое кнопки */
    position: relative;
    top: auto;
    left: auto;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 2;
    padding-top: 12%;
    -ms-flex-preferred-size: 35px;
        flex-basis: 35px;
  }

  /* добавляем "гамбургер" */
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #1f2041;
  }

  .menu__btn > span::before {
    content: "";
    top: -10px;
  }

  .menu__btn > span::after {
    content: "";
    top: 10px;
  }

  /* контейнер меню */
  .menu__box {
    z-index: 1;
    display: block;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 60px 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 0px 6px rgba(31, 32, 65, 0.25);
            box-shadow: 1px 0px 6px rgba(31, 32, 65, 0.25);
  }

  /* элементы меню */
  .menu__item {
    opacity: 0.5;
    display: block;
    padding: 12px 24px;
    color: #1f2041;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: inherit;
    -webkit-box-shadow: 1px 0px 6px rgba(31, 32, 65, 0.25);
            box-shadow: 1px 0px 6px rgba(31, 32, 65, 0.25);
  }

  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__box {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__item {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .account__enter {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    margin-top: 10px;
  }

  .navigation {
    display: none;
  }

  .account {
    display: none;
  }

  .search {
    margin: 0 5% 0 5%;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
  }
  .hamburger-menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
}