body {
  margin: 0;
  background-color: #ffff;
  max-width: 1440px;
  max-height: 2416px;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0 140px 67px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "logo navigation-list"
    "logo navigation-list";
}

.account {
  margin: 18px 0 18px 0;
  font-size: 12px;
}
.arrow {
  width: 14px;
  height: 20px;
  align-self: center;
  margin-right: 20px;
}
.arrival {
  grid-area: arrival;
  width: 150px;
  height: 65px;
}
.departure {
  grid-area: departure;
}
.find {
  grid-area: find;
}
.guests {
  grid-area: guests;
}
.navigation-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  grid-area: navigation-list;
  font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  background: url(img/arrow.svg) no-repeat 0% 50%;
  background-size: initial;
  width: 14px;
  height: 20px;
}
input[type="date"] {
  width: 150px;
  height: 44px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #bbbcc6;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.logo {
  margin: auto 0;
}
.main {
  grid-area: main;
}
.more {
  column-gap: 0;
}

.nav-menu {
  display: block;
  margin: 26px 0 26px 0;
  text-decoration: none;
  margin-right: 20px;
}
.nav-menu:nth-child(2) {
  margin-right: 0;
}
.nav-menu:nth-child(6) {
  margin-right: 0;
}
.pArrival {
  margin: 0 0 5.44px 0;
  color: #1f2041;
  font-weight: bold;
}
.pDeparture {
  margin: 0 0 5.44px 0;
  font-weight: bold;
}
.search {
  display: grid;
  margin-left: 140px;
  width: 320px;
  height: 304px;
  padding: 40px 30px 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e8ec;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 25%), 0px 0px 0px rgb(0 0 0 / 25%);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "hSearch hSearch hSearch hSearch"
    "arrival arrival departure departure"
    "guests guests guests guests"
    "find find find find";
  grid-template-rows: 80px 85px 85px 65px;
}

h2 {
  text-align: left;
  margin: 0;
}
.hSearch {
  grid-area: hSearch;
  height: 59px;
  margin: 0;
  padding: 0;
}
.enter {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 21.85px;
  color: #bc9cff;
  background: #ffff;
  border-radius: 22px;
  margin-right: 20px;
}
.enter::after {
  content: " ";
  display: block;
  background-image: linear-gradient(#bc9cff, #8ba4f9);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 22px;
}
.registration {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 23.219px;
  color: #ffff;
  background: linear-gradient(#bc9cff, #8ba4f9);
  border-radius: 22px;
}
.registration::after {
  content: " ";
  display: block;
  background-image: linear-gradient(#bc9cff, #8ba4f9);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 22px;
}
